body{
    margin: 0.5rem;
}

.title-1, .title-2 {
    font-size: 30px;
    font-weight: bold;
}
.title-1 {
    color: rgb(9, 9, 133);
}
.title-2{
    font-style: italic;
}
hr {
    width: 60%;
}
p{
    margin:0
}
.doan-1, .doan-2 {
    line-height: 1.2;
}
.doan-1{
    color:rgb(196, 15, 15);
}
.doan-2{
    margin-top:1rem;
    color: rgb(192, 13, 192);
    font-style: italic;
}
.tac-gia{
    font-weight: bolder;
    font-size: larger;
    color: blue;
}
#uit-logo {
    height: 200px;
}

.exercise-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    border: 2px solid black;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    
    padding: 8px;
    text-align: center;
}
.tab-1-border {
    border: 3px solid rgb(3, 105, 17);
}
.tab-2-border {
    border-bottom: 3px solid rgb(0, 0, 0);
}
.info {
    font-weight: bold;
}
.tab-title-1 {
    color: blue;
    font-size: 25px;
    background-color: rgba(238, 130, 238, 0.404);
}
.tab-title-2 {
    color: blue;
    font-size: 25px;
}
.tab-color-1{
    background-color: rgba(192, 250, 255, 0.634);
}
.tab-color-2 {
    background-color: rgba(170, 255, 159, 0.738);
}